<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>À propos</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css" />
  </head>
  <body>
    <main>
      <h1>À propos de ce site</h1>
      <nav><a href="/">Retour à l'accueil</a></nav>
      <section>
        <p>
          Cette application web, développée avec Python et Flask, permet de
          gérer une liste d'utilisateurs. Vous pouvez ajouter, modifier et
          supprimer des utilisateurs grâce à une interface utilisateur
          interactive. Les actions sont effectuées via une API RESTful,
          garantissant une mise à jour en temps réel sans avoir besoin de
          recharger la page.
        </p>
      </section>
    </main>
    <footer>© 2024, Fait avec 💖 par Amram ELBAZ pour Bob! Desk</footer>
  </body>
</html>
